* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

p,
h2,
h3,
span {
    color: #ffffff;
}

.welcomeText {
    text-align: center;
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-shadow: 3px 3px 3px black; 
}

.welcomeText h2{
    display: inline-block;

}

/*set autofil color*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #000000 inset !important;
    box-shadow: 0 0 0 30px #000000 inset !important;
}

/*Set autofil text color*/
input:-webkit-autofill {
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    text-decoration: none;
}

form input {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333 url('./static/images/city.jpg') no-repeat center center / cover;
}

.logupForm {
    display: block;
    position: relative;
}

.logupForm .form-inner {
    position: relative;
    display: block;
    background-color: #161616;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    z-index: 2;
    text-decoration: none;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 10px;
}

.logupForm .form-inner h2,
label {
    color: #ffffff;
    padding-top: 10px;
}

.logupForm .form-inner #password,
#email,
#password_repeat,
#username {
    color: #ffffff;
}

.logupForm .form-inner #submit {
    text-decoration: underline;
    color: #ffffff;
}

.logupForm .form-inner .status {
    color: #00beee;
}

#loginSpacer {
    height: 30px;
}

.todo-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-flow: dense;
}

.todoItem {
    margin: 10px;
    padding: 20px;
    width: 250px;
    height: auto;
    float: left;
    clear: left;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 4;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
footer .menuButton{
    background: transparent;
    border: none;
}

.todoCheckBox{
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #eee;
}

.buttonComtainer .todoCheckBox{
    position: relative;
    left: 170px;
}

.buttonComtainer button{
    position: relative;
    left: 170px;
    background: url('./static/icons/delete_white_24dp.svg');
    background-position:center;
    background-repeat:no-repeat;
    width: 25px;
    height: 25px;
    border: none;
}

.todoCreator{
    display: block;
    position: absolute;
    bottom: 60px;
    left: 0px;
}

.todoCreator .form-inner{
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    z-index: 2;
    text-decoration: none;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.todoCreator .form-inner h2, label {
    color: #ffffff;
    padding-top: 10px;
}

.todoCreator .form-inner #submit {
    text-decoration: underline;
    color: #ffffff;
}

.todoCreator .form-inner #title,
#content{
    color: #ffffff;
}